<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    alert("<%= @article.title %> is online")
  })
</script>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<% content_for(:title) do %>
  <%= @article.title %> is on Awesome website
<% end %>
